* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    height: 100vh;
    background-color: black;
    background-image: url(Moon\ Night.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
#question {
    font-size: 18px;
    margin-bottom: 20px;
}
#answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#player-name, #score, #timer, #questions,  #result{
    display: flex;
    justify-content: center;
    font-size: larger;
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    /* width: 100%; */
}
button:hover {
    background-color: #45a049;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
#score, #timer {
    margin-top: 10px;
}
input{
    font-size: 1.25em;
    border-radius: 5px;
    outline: none;
}


#start-button{
    font-size: 1.25em;
}
#welcome-screen{
    display: none;
}